<%= form_for( :setting, url: { :action => (setting.new_record? ? :create : :update ), :id => setting }, :remote => true, :method => (setting.new_record? ? :post : :put ) ) do |f| %>
	<%= f.hidden_field( :project_id, { :value => project.id } ) %>
	<div>
		<label>field</label>		
		<%= f.collection_select(:custom_field_id, @available_custom_fields, :id, :name) %>
	</div>
     <div>
     		<label>status</label>     		
     		<%= f.collection_select(:issue_status_id, @available_issue_status, :id, :name) %>
     </div>
     <div>
     		<label>e-mail template</label>
     		<%= f.text_field :email_template %>     		
     </div>
     <%= f.submit setting.new_record? ? l(:add) : l(:save) %>
<% end %>